<% @posts.each do |post| %>
  <div class="col-md-4 text-center mb-3">
    <div class="card shadow-sm">
      <div class="header-area">
        <div class="container">
          <div class="user-panel d-flex align-items-center py-2">
            <div class="user-avatar me-2">
              <%= link_to user_path(post.user) do %>
                <%= image_tag post.user.avatar.variant(gravity: :center, resize: "50x50^!", crop:"50x50+0+0"), class: "rounded-circle bg-dark-subtle", style: "display: inline-block;" %>
              <% end %>
            </div>
            <div class="user-name d-flex align-items-center text-break">
              <%= link_to post.user.name, user_path(post.user), class: "fw-bold text-dark hover-opacity-50", style:"text-decoration:none;" %>
            </div>
          </div>
        </div>
      </div>

      <%= link_to post_path(post), class:"text-dark", style:"text-decoration:none;" do %>
        <% if post.images.present? %>
          <div class="img-area">
            <div id="img-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% post.images.each_with_index do |image, index| %>
                  <li data-target="#img-carousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" style="<%= post.images.length == 1 ? 'display: none;' : 'cursor: default;' %>"></li>
                <% end %>
              </ol>

              <div class="carousel-inner">
                <% post.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <%= image_tag(image.variant(gravity: :center, resize: "530x323^", crop: "530x323+0+0"), class: "d-block mx-auto img-fluid hover-opacity-75") %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <%= image_tag "no_image.png", class: "d-block mx-auto img-fluid hover-opacity-75 border-top border-bottom", style: "height: auto; width: auto;" %>
        <% end %>

        <div class="card-body hover-opacity-50 text-left">
          <h5 class="card-title fw-bold"><%= post.title %></h5>
          <p class="card-text m-0"><%= post.content.truncate(30) %></p>
          <span class="text-secondary">
            <i class="far fa-clock clock-icon me-1">
            </i><%= time_ago_in_words(post.created_at) %>前
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>