<div class="container py-4">
  <div class="row mb-4">
    <div class="col-md-8 mx-auto text-center">
      <h4 class="text-primary">ChariLogとは?</h4>
      <h2 class="fw-bold">自転車乗りの投稿サービス</h2>
      <p>
        あなたの自慢のマシンを共有しよう!
      </p>
    </div>
  </div>

  <div class="row g-4">
    <%= service_detail("fas fa-bicycle", "ログ投稿", "あなたとマイバイクとの記録をここに残そう！他のユーザーと共有しよう！") %>
    <%= service_detail("fas fa-tags", "アイテム登録", "投稿には使用パーツを登録できます。カスタムパーツを登録してあなたの個性を出そう！") %>
    <%= service_detail("fas fa-map-marker-alt", "移動ルート登録", "サイクリングルートを登録できます。あなたのお気に入りルートを共有しよう！トレーニングや旅の記録にも活用しよう！") %>
    <%= service_detail("fas fa-wrench", "メンテナンス", "給油や消耗部品の交換目安・時期を通知します。定期的なメンテナンスを心掛けよう！", "(導入予定)") %>
    <!-- 実装見送りのためコメントアウト
      <%= service_detail("fas fa-heartbeat", "ヘルスケア", "AppleWatchから取得した情報とあなたの設定した目標を比較して達成度を測ります。", "(導入予定)") %>
    -->
  </div>
</div>