<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-4 text-right">
      <%= image_tag 'chari-log-top.png', class: 'img-responsive', style: 'height:100%; width:100%;' %>
    </div>
    <div class="col-lg-4 text-center">
      <div class="form-wrapper border">
        <%= image_tag 'chari-log-logo.png', class: 'img-responsive', style: 'height:100%; width:100%;' %>
        <div class="text-center">
          <h3 class="font-weight-bold">-MyBikeと<br/>
                        思い出を刻もう-</h3>
          <br/>
        </div>
        <div class="form-content">
          <%= form_with local: true do |f| %>
            <div class="form-group">
              <%= f.text_field :email, class: 'form-control bg-light', placeholder: 'メールアドレス' %>
              <%= f.password_field :password, class: 'form-control bg-light mt-2', placeholder: 'パスワード' %>
            </div>        
            <div class="actions">
              <%= f.submit "ログイン", class: 'form-control btn btn-primary rounded-pill font-weight-bold mt-3' %>
            </div>
          <% end %>
        </div>
        <div class='text-center my-4'>
          <span>─────</span> または <span>─────</span>
        </div>
        <div class="text-center">
          <%= link_to '新規登録', 'static_pages/top', class: "form-control btn btn-default rounded-pill font-weight-bold border text-primary mb-3" %>
          <%= link_to 'パスワードをお忘れですか？', class: "fs-6" %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
