<% set_meta_tags title: t('.title'), og: { title: t('.og_title') } %>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6 d-md-block d-none">
      <%= image_tag "chari-log-top.png", class: "img-fluid h-100 float-right" %>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 pe-lg-5 pe-xl-4">
      <%= render "/user_sessions/form" %>
    </div>
  </div>
</div>

<!-- Services section -->
<section id="services" class="py-5 border-top border-bottom">
  <%= render 'services_detail' %>
</section>

<div class="hero vh-100 d-flex align-items-center mb-5" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-5 text-white">さぁ、ChariLogを始めよう</h1>
        <div class="text-center my-5">
          <%= render 'share_button' %>
        </div>
        <p class="text-white">
          ご質問やご要望、開発等の技術面で何かあればお問い合わせください。様々なご意見お待ちしております。
        </p>
        <%= link_to t("defaults.login"), root_path, class: "btn btn-primary m-2 px-5" %>
        <%= link_to t("defaults.user_register"), new_user_path, class: "btn btn-info m-2 px-5" %>
        <%= link_to t("defaults.inquiry"), 'https://docs.google.com/forms/d/e/1FAIpQLSeHZcjha6HuQH0mcEN8ZAkv8ZMQY2p7YJCNxAFFcl1zUN_wkQ/viewform', class: "btn btn-secondary mx-2 my-2 px-5" %>
      </div>
    </div>
  </div>
</div>

<section id="blog" class="pt-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 mx-auto text-center">
        <h2 class="fw-bold">ー 最新の投稿 ー</h2>
        <p class="text-primary mb-4">
          あなたもマイバイクとのログを残そう！
        </p>
      </div>
      <% if @posts.present? %>
        <div class="d-flex flex-wrap justify-content-center">
          <%= render 'post_list' %>
        </div>
      <% else %>
        <div class="text-center text-secondary my-5"><%= t("defaults.no_post") %></div>
        <div class="text-center">
          <%= link_to t("defaults.log_first!"), new_post_path, class: "btn btn-info mb-5" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
