<tr>
  <th class="text-center">
    <%= link_to user_path(user) do %>
      <%= image_tag user.avatar.variant(gravity: :center, resize: "50x50^", crop:"50x50+0+0").processed, class: "rounded-circle bg-dark-subtle hover-opacity-75", style: "display: inline-block;" %>
    <% end %>
  </th>
  <th class="align-middle">
    <%= link_to user.name, user_path(user), class: "text-nowrap text-dark hover-opacity-50", style: "text-decoration:none;" %>
  </th>
  <th class="align-middle">
    <% if user.my_bike.present? %>
      <div class="text-nowrap"><%= user.my_bike_i18n %></div>
    <% else %>
      <div class="text-info text-nowrap"><%= t("defaults.no_mybike") %></div>
    <% end %>
  </th>
  <th class="align-middle">
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to t("defaults.unfollow"), user_relationships_path(user.id), method: :delete, class: "btn btn-danger fw-bold" %>
      <% else %>
        <%= link_to t("defaults.follow"), user_relationships_path(user.id), method: :post, class: "btn btn-primary fw-bold" %>
      <% end %>
    <% end %>
  </th>
</tr>
