<tr>
  <th class="text-center py-4">
    <%= link_to user_path(user) do %>
      <%= image_tag user.avatar.variant(gravity: :center, resize: "75x75^", crop:"75x75+0+0").processed,
                    class: "rounded-circle bg-dark-subtle hover-opacity-75",
                    style: "display: inline-block;" %>
    <% end %>
  </th>
  <th class="align-middle">
    <div>
      <%= link_to user.name, user_path(user), class: "user-name text-nowrap text-dark hover-opacity-50",
                                              style: "text-decoration:none;" %>
      <% unless user.public? || current_user&.following?(user) && user&.following?(current_user) || user.id == current_user.id %>
        <i class="fa-solid fa-lock ms-1"></i>
      <% end %>
    </div>
    <div class="font-mini-size text-nowrap mt-2">
      <%= t("users.show.follower") %>
      <%= user.followeds.count %>人
      <span class="mx-1"><%= "/" %></span>
      <%= t("users.show.follow") %>
      <%= user.followers.count %>人
    </div>
    <div class="font-mini-size text-secondary text-nowrap mt-1">
      <% if user.bio.present? %>
        <%= user.bio.truncate(16) %>
      <% end %>
    </div>
  </th>
  <th class="align-middle">
    <% if user.my_bike.present? %>
      <div class="user-mybike text-nowrap"><%= user.my_bike_i18n %></div>
    <% else %>
      <div class="text-info text-nowrap"><%= t("defaults.no_mybike") %></div>
    <% end %>
  </th>
  <th class="align-middle">
    <% if current_user != user %>
      <% if current_user.following?(user) %>
        <%= link_to t("defaults.unfollow"), user_relationships_path(user.id), method: :delete, class: "btn btn-info fw-bold py-3 px-4", data: {confirm: 'フォローを解除しますか？'} %>
      <% else %>
        <%= link_to t("defaults.follow"), user_relationships_path(user.id), method: :post, class: "btn btn-outline-info fw-bold p-3" %>
      <% end %>
    <% end %>
  </th>
</tr>
