<div class="container">

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q, url: follows_user_path %>
  </div>

  <!-- ユーザー一覧 -->
  <div class="row">
    <% if @users.present? %>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th class="text-nowrap"><%= User.human_attribute_name(:name) %></th>
              <th><%= User.human_attribute_name(:my_bike) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="text-center text-secondary my-5"><%= t(".no_follows") %></div>
      <% if current_user.id == @user.id %>
        <div class="text-center">
          <%= link_to t(".lets_follow"), users_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>



</div>