<div class="container mb-5">
  <div class="title-area under-line border-4 d-lg-flex d-none my-2">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fas fa-angle-left fa-2x me-4"></i>
    <% end %>
    <h2 class="fw-bold"><%= t(".title") %></h2>
  </div>

  <% if search_from? %>
    <h4 class="text-center my-4 my-lg-5">
      <%= t("defaults.search_result") %>:<%= "#{@user_count}件" %>
    </h4>
  <% end %>

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q, url: users_path %>
  </div>

  <!-- ユーザー一覧 -->
  <div class="row">
    <% if @users.present? %>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th></th>
              <th class="text-nowrap"><%= User.human_attribute_name(:name) %></th>
              <th><%= User.human_attribute_name(:my_bike) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
      </div>
    <% else %>
      <% if search_from? %>
        <div class="text-center text-secondary my-5"><%= t("defaults.no_search_result") %></div>
      <% else %>
        <div class="text-center text-secondary my-5"><%= t(".no_user") %></div>
        <div class="text-center">
          <%= link_to t(".leave_log!"), new_post_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @users, theme: 'twitter-bootstrap-4' %>

</div>
