<div class="container">

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q %>
  </div>

  <!-- ユーザー一覧 -->
  <div class="row">
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th class="text-nowrap"><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:my_bike) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th class="text-center">
                <%= link_to user_path(user) do %>
                  <%= image_tag user.avatar.variant(gravity: :center, resize: "50x50^!", crop:"50x50+0+0"), class: "rounded-circle bg-dark-subtle", style: "display: inline-block;" %>
                <% end %>
              </th>
              <th class="align-middle">
                <%= link_to user.name, user_path(user), class: "text-nowrap text-dark hover-opacity-50", style: "text-decoration:none;" %>
              </th>
              <th class="align-middle">
                <div class="text-nowrap"><%= user.my_bike_i18n %></div>
              </th>
              <th class="align-middle">
                <%= link_to t("defaults.follow"), "#", class: "btn btn-primary fw-bold" %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate @users, theme: 'twitter-bootstrap-4' %>

</div>
