<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-8">
      <div class="border rounded shadow p-4">
        <div class="text-center border-bottom mb-4">
          <%= image_tag "chari-log-logo.png", class: "img-fluid", style: "max-width: 85%;" %>
        </div>
        <div class="text-center mb-4">
          <h5 class="font-weight-bold text-secondary">MyBikeとの思い出を刻んで共有しよう!!</h5>
        </div>
        <div class="text-center">
          <%= form_with model: @user, local: true do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control bg-light', placeholder: 'ユーザーネーム' %>
            </div>
            <div class="form-group">
              <%= f.select :my_bike, User.my_bikes.keys, {}, class: 'form-control bg-light', placeholder: 'あなたの持つバイクメーカー(好きなメーカー)を選択してください' %>
            </div>
            <div class="form-group">
              <%= f.text_field :email, class: 'form-control bg-light', placeholder: 'メールアドレス' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control bg-light', placeholder: 'パスワード' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: 'form-control bg-light', placeholder: 'パスワード確認' %>
            </div>
            <div class="form-group">
              <%= f.submit "登録する", class: 'btn btn-primary btn-block font-weight-bold rounded-pill mt-4' %>
            </div>
          <% end %>
        </div>
        <div class='text-center my-4'>
          <span>──</span> 登録済みの方はこちらへ <span>──</span>
        </div>
        <div class="text-center">
          <%= link_to "ログインページへ", login_path, class: "btn btn-outline-info btn-block font-weight-bold rounded-pill mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
