<%= javascript_include_tag "user-show.js" %>

<div class="container px-md-4">
  <div class="row pb-4 mb-4 border-bottom">
    <div class="user-panel d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="user-avatar d-flex align-items-center my-3">
        <%= link_to @user.avatar, "data-lightbox": @user.avatar do %>
          <%= image_tag @user.avatar.variant(gravity: :center, resize: "90x90^!", crop:"90x90+0+0"), class: "img rounded-circle bg-dark-subtle me-5", style: "display: inline-block;" %>
        <% end %>
        <div class="follow-btn mobile-size" style="display: inline-block;">
          <% if @user.id == current_user.id %>
            <div class="item-info mb-2">
              <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t(".item_management") %>
              </button>
              <div class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                <%= link_to users_path, class: 'dropdown-item text-danger doropdown-list-delete' do %>
                  <div class="fw-bold">
                    <i class="fas fa-book"></i>  <%= t("defaults.to_items_page") %>
                  </div>
                <% end %>
                <%= link_to posts_path, class: 'dropdown-item text-danger doropdown-list-delete' do %>
                  <div class="fw-bold">
                    <i class="fas fa-search-plus"></i>  <%= t("defaults.to_new_item_page") %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="edit-profile">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= t(".setting_profile") %>
                </button>
                <div class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                  <%= link_to edit_profile_path, class: 'dropdown-item text-secondary doropdown-list-delete' do %>
                      <div class="fw-bold">
                        <i class="fas fa-id-card"></i>  <%= t("defaults.to_edit_profile_page") %>
                      </div>
                  <% end %>
                  <%= link_to new_password_reset_path, class: 'dropdown-item text-secondary doropdown-list-delete' do %>
                      <div class="fw-bold">
                        <i class="fas fa-lock"></i>  <%= t("defaults.to_reset_page") %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <% if current_user.following?(@user) %>
              <%= link_to t("defaults.unfollow"), user_relationships_path(@user.id), method: :delete, class: "btn btn-danger fw-bold p-3" %>
            <% else %>
              <%= link_to t("defaults.follow"), user_relationships_path(@user.id), method: :post, class: "btn btn-primary fw-bold p-3" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-column fw-bold">
        <div class="user-element left-line border-4 border-primary ps-3 mb-3 mb-md-0">
          <div class="user-name mb-2">
            <i class="fas fa-user me-1"></i>
            <%= User.human_attribute_name(:name) %>
            <span>：</span>
            <%= @user.name %>
          </div>
          <div class="bike-name mb-2">
            <i class="fas fa-bicycle me-1"></i>
            <%= User.human_attribute_name(:my_bike) %>
            <span>：</span>
            <% if @user.my_bike.present? %>
              <%= @user.my_bike_i18n %>
            <% else %>
              <%= t(".no_mybike") %>
            <% end %>
          </div>
          <div class="element-count d-flex flex-wrap">
            <%= link_to followers_user_path, style:"text-decoration:none;" do %>
              <div class="text-secondary me-3"><%= t(".follower") %><%= @user.followeds.count %>人</div>
            <% end %>
            <%= link_to follows_user_path, style:"text-decoration:none;" do %>
              <div class="text-secondary me-3"><%= t(".follow") %><%= @user.followers.count %>人</div>
            <% end %>
            <div><%= t(".post") %><%= @user.posts.count %>件</div>
          </div>
        </div>
        <div class="bio-area mobile-size fw-bold">
          <% if @user.bio.present? %>
            <div class="text"><%= @user.bio %></div>
          <% else %>
            <div class="text-secondary"><%= t(".no_bio") %></div>
          <% end %>
        </div>
      </div>
      <div class="follow-btn pc-size mx-auto">
        <% if @user.id == current_user.id %>
          <div class="item-info mb-2">
            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t(".item_management") %>
            </button>
            <div class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
              <%= link_to users_path, class: 'dropdown-item text-danger doropdown-list-delete' do %>
                <div class="fw-bold">
                  <i class="fas fa-book"></i>  <%= t("defaults.to_items_page") %>
                </div>
              <% end %>
              <%= link_to posts_path, class: 'dropdown-item text-danger doropdown-list-delete' do %>
                <div class="fw-bold">
                  <i class="fas fa-search-plus"></i>  <%= t("defaults.to_new_item_page") %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="edit-profile">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= t(".setting_profile") %>
              </button>
              <div class="dropdown-menu bg-white" aria-labelledby="dropdownMenuButton">
                <%= link_to edit_profile_path, class: 'dropdown-item text-secondary doropdown-list-delete' do %>
                  <div class="fw-bold">
                    <i class="fas fa-id-card"></i>  <%= t("defaults.to_edit_profile_page") %>
                  </div>
                <% end %>
                <%= link_to new_password_reset_path, class: 'dropdown-item text-secondary doropdown-list-delete' do %>
                  <div class="fw-bold">
                    <i class="fas fa-lock"></i>  <%= t("defaults.to_reset_page") %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to t("defaults.unfollow"), user_relationships_path(@user.id), method: :delete, class: "btn btn-danger fw-bold p-3" %>
          <% else %>
            <%= link_to t("defaults.follow"), user_relationships_path(@user.id), method: :post, class: "btn btn-primary fw-bold p-3" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="bio-area pc-size fw-bold">
      <% if @user.bio.present? %>
        <div><%= @user.bio %></div>
      <% else %>
        <div class="text-secondary"><%= t(".no_bio") %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-5">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="text-center text-secondary mt-4 mb-5"><%= t(".no_post") %></div>
      <div class="text-center">
        <%= link_to t(".leave_log!"), new_post_path, class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>
