<%= javascript_include_tag "user-show.js" %>

<div class="container px-md-4">
  <div class="row pb-4 mb-4 border-bottom">
    <div class="user-panel d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="user-avatar d-flex flex-wrap align-items-center my-3">
        <%= link_to @user.avatar, "data-lightbox": @user.avatar do %>
          <%= image_tag @user.avatar.variant(gravity: :center, resize: "120x120^!", crop:"120x120+0+0"), class: "img rounded-circle bg-dark-subtle me-4 me-lg-5", style: "display: inline-block;" %>
        <% end %>
        <div class="follow-btn mobile-size" style="display: inline-block;">
          <% if @user.id == current_user.id %>
            <%= render 'dropdown_menu' %>
          <% else %>
            <%= render 'follow_btn' %>
          <% end %>
        </div>
      </div>
      <div class="d-flex flex-column fw-bold">
        <div class="user-element left-line border-4 border-primary ps-3 mb-3 mb-md-0">
          <div class="user-name mb-2">
            <i class="fas fa-user me-1"></i>
            <%= User.human_attribute_name(:name) %>
            <span>:</span>
            <%= @user.name %>
          </div>
          <div class="bike-name mb-2">
            <i class="fas fa-bicycle me-1"></i>
            <%= User.human_attribute_name(:my_bike) %>
            <span>:</span>
            <% if @user.my_bike.present? %>
              <%= @user.my_bike %>
            <% else %>
              <%= t(".no_mybike") %>
            <% end %>
          </div>
          <div class="post-count d-flex flex-wrap mb-2">
            <div class="me-3">
              <%= t(".post") %>
              <span>:</span>
              <%= @user.posts.count %>件
            </div>
            <div>
              <%= t(".all_likes") %>
              <span>:</span>
              <%= @like_count %>Likes
            </div>
          </div>
          <div class="element-count d-flex flex-wrap">
            <%= link_to followers_user_path, style:"text-decoration:none;" do %>
              <div class="text-secondary me-3">
                <%= t(".follower") %>
                <span>:</span>
                <%= @user.followeds.count %>人
              </div>
            <% end %>
            <%= link_to follows_user_path, style:"text-decoration:none;" do %>
              <div class="text-secondary me-3">
                <%= t(".follow") %>
                <span>:</span>
                <%= @user.followers.count %>人
              </div>
            <% end %>
          </div>
        </div>
        <div class="bio-area mobile-size fw-bold">
          <% if @user.bio.present? %>
            <div class="text"><%= @user.bio %></div>
          <% else %>
            <div class="text-secondary"><%= t(".no_bio") %></div>
          <% end %>
        </div>
      </div>
      <div class="follow-btn pc-size mx-auto">
        <% if @user.id == current_user.id %>
          <%= render 'dropdown_menu' %>
        <% else %>
          <%= render 'follow_btn' %>
        <% end %>
      </div>
    </div>
    <div class="bio-area pc-size fw-bold mt-3">
      <% if @user.bio.present? %>
        <div><%= @user.bio %></div>
      <% else %>
        <div class="text-secondary"><%= t(".no_bio") %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-5">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="text-center text-secondary mt-4 mb-5"><%= t(".no_post") %></div>
      <% if current_user.id == @user.id %>
        <div class="text-center">
          <%= link_to t(".leave_log!"), new_post_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>
