<%= javascript_include_tag "user-show.js" %>
<% set_meta_tags title: current_page?(user_path(current_user)) ? t('.mypage') : t('.title'), og: { title: t('.og_title', user: @user.name) } %>

<div class="container px-md-4">
  <div class="row pb-2 mb-4 border-bottom">
    <div class="user-panel d-flex flex-column flex-md-row justify-content-center align-items-center p-0">
      <div class="user-avatar d-flex flex-wrap align-items-center mx-auto mx-md-0 my-3">
        <%= link_to @user.avatar, "data-lightbox": @user.avatar do %>
          <%= image_tag @user.avatar.variant(gravity: :center, resize: "120x120^", crop:"120x120+0+0"), class: "img rounded-circle bg-dark-subtle hover-opacity-75 me-5 me-md-4 me-lg-5", style: "display: inline-block;" %>
        <% end %>
        <div class="follow-btn mobile-size" style="display: inline-block;">
          <%= render 'user_show_operation' %>
        </div>
      </div>
      <div class="d-flex flex-column fw-bold mx-3 mx-sm-0">
        <div class="user-element left-line border-4 border-primary ps-3 mb-3 mb-md-0">
          <div class="user-name mb-2">
            <i class="fas fa-user me-1"></i>
            <%= User.human_attribute_name(:name) %>
            <span>:</span>
            <%= @user.name %>
          </div>
          <div class="bike-name mb-2">
            <i class="fas fa-bicycle me-1"></i>
            <%= User.human_attribute_name(:my_bike) %>
            <span>:</span>
            <% if @user.my_bike.present? %>
              <%= @user.my_bike %>
            <% else %>
              <%= t("defaults.no_mybike") %>
            <% end %>
          </div>
          <div class="post-count d-flex flex-wrap mb-2">
            <div class="me-3">
              <%= t(".post") %>
              <%= @user.posts.count %>件
            </div>
            <div>
              <%= t(".all_likes") %>
              <%= @like_count %>Likes
            </div>
          </div>
          <div class="element-count d-flex flex-wrap">
            <%= link_to followers_user_path, class:"hover-opacity-75", style:"text-decoration:none;" do %>
              <div class="text-secondary me-3">
                <%= t(".follower") %>
                <%= @user.followeds.count %>人
              </div>
            <% end %>
            <%= link_to follows_user_path, class:"hover-opacity-75", style:"text-decoration:none;" do %>
              <div class="text-secondary me-3">
                <%= t(".follow") %>
                <%= @user.followers.count %>人
              </div>
            <% end %>
          </div>
        </div>
        <div class="bio-area mobile-size d-flex d-md-none align-items-center flex-wrap fw-bold">
          <%= render 'user_bio' %>
          <div class="share_area">
            <%= render 'user_share_button' %>
          </div>
        </div>
      </div>
      <div class="follow-btn pc-size ms-auto me-xl-5">
        <%= render 'user_show_operation' %>
      </div>
    </div>
    <div class="bio-area pc-size d-md-flex align-items-center fw-bold p-0">
      <%= render 'user_bio' %>
      <div class="share_area text-nowrap ms-auto me-xl-5">
        <%= render 'user_share_button' %>
      </div>
    </div>
  </div>

  <div class="title-area d-flex flex-wrap align-items-center justify-content-center under-line my-2">
    <h5 class="fw-bold text-decoration-underline m-0"><%= t(".post_index", user: @user.name) %></h5>
    <!-- 並び替えリスト -->
    <%= render 'posts/sort_posts_menu' %>
  </div>

  <div class="row mb-sm-5">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="text-center text-secondary mt-4 mb-5"><%= t(".no_post") %></div>
      <% if current_user.id == @user.id %>
        <div class="text-center">
          <%= link_to t(".leave_log!"), new_post_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>
