<footer class='footer py-4 shadow'>
  <div class='container'>
    <div class='row'>
      <div class="text-center text-secondary col-md-12 <%= logged_in? ? 'offset-lg-2 col-lg-10' : '' %>">
        <div class="fw-bold fs-3 mb-2">~ INFORMATION ~</div>
        <%= link_to t("defaults.terms"), '/terms', class: 'text-secondary m-2', style: "text-decoration:none;" %>
        <span><%= " / " %></span>
        <%= link_to t("defaults.privacy_policy"), '/privacy_policy', class: 'text-secondary text-nowrap m-2', style: "text-decoration:none;" %>
        <span><%= " / " %></span>
        <%= link_to t("defaults.inquiry"), 'https://docs.google.com/forms/d/e/1FAIpQLSeHZcjha6HuQH0mcEN8ZAkv8ZMQY2p7YJCNxAFFcl1zUN_wkQ/viewform', class: "text-secondary text-nowrap m-2", style: "text-decoration:none;" %>
        <p class='text-secondary mt-4'>© 2024 ChariLog. Copyright All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>