<footer class="fixed-bottom">
  <nav class="navbar navbar-dark bg-dark text-center p-2">
    <div class="container-fluid p-0">
      <%= footer_nav_link(root_path, "home-outline", "Home") %>
      <%= footer_nav_link(users_path, "people-circle-outline", "User") %>
      <%= footer_nav_link(new_post_path, "add-circle-outline", "Post") %>
      <%= footer_nav_link(likes_posts_path, "heart-outline", "Likes") %>
      <%= footer_nav_link(user_path(current_user), "person-circle-outline", "MyPage") %>
    </div>
  </nav>
</footer>
