<sidebar>
  <div class="navigation">
    <ul>
      <div class="user-panel d-flex align-items-center pb-3 border-bottom border-dark">
        <div class="user_avatar pe-2">
          <% if current_user.avatar.present? %>
            <%= link_to posts_path do %>
              <%= image_tag current_user.avatar.variant(gravity: :center, resize: "50x50^!", crop:"50x50+0+0"), class: "rounded-circle d-block bg-dark-subtle" %>
            <% end %>
          <% else %>
            <%= link_to posts_path do %>
              <%= image_tag 'sample.png', style: "height: 50px; width: 50px;", class: "rounded-circle mx-auto d-block bg-dark-subtle" %>
            <% end %>
          <% end %>
        </div>
        <div class="info">
          <%= link_to current_user.name, posts_path, class: "d-block font-weight-bold text-secondary" %>
        </div>
      </div>
      <li class="nav-item <%= nav_item_class(posts_path) %>">
        <%= link_to posts_path do %>
          <span class="nav-icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span class="title">ホーム</span>
        <% end %>
      </li>
      <li class="nav-item <%= nav_item_class(new_post_path) %>">
        <%= link_to new_post_path do %>
          <span class="nav-icon">
            <ion-icon name="person-circle-outline"></ion-icon>
          </span>
          <span class="title">プロフィール</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <span class="nav-icon">
            <ion-icon name="tv-outline"></ion-icon>
          </span>
          <span class="title">チャンネル</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <span class="nav-icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
          <span class="title">設定</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <span class="nav-icon">
            <ion-icon name="id-card-outline"></ion-icon>
          </span>
          <span class="title">個人情報</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to posts_path do %>
          <span class="nav-icon">
            <ion-icon name="help-circle-outline"></ion-icon>
          </span>
          <span class="title">ヘルプ</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' } do %>
          <span class="nav-icon">
            <ion-icon name="log-out-outline"></ion-icon>
          </span>
          <span class="title">ログアウト</span>
        <% end %>
      </li>
    </ul>
  </div>

  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
  ></script>
  
</sidebar>