<div class="card shadow">
  <div class="card-header">
    <div class="d-flex align-items-center ps-0">
      <div class="user-avatar mx-2">
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.avatar.variant(gravity: :center, resize: "50x50^", crop:"50x50+0+0").processed, class: "rounded-circle bg-dark-subtle hover-opacity-75", style: "display: inline-block;" %>
        <% end %>
      </div>
      <div class="name_field text-break">
        <%= link_to current_user.name, user_path(current_user), class: "fw-bold text-secondary hover-opacity-50", style:"text-decoration:none;" %>
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <%= form_with(model: @post, local: true, data: { controller: "images"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-sm-12 col-12 pt-3 p-0">
        <div class="d-flex align-items-center">
          <i class="fas fa-camera me-1"></i>
          <div class="fw-bold"><%= Post.human_attribute_name(:images) %></div>
          <span class="font-mini-size">（最大4枚）</span>
        </div>
        <p data-images-target="error" class="text-danger m-0"></p>

        <div class="row mb-1" data-images-target="preview">
          <% if @post.images.attached? %>
            <% @post.images.each do |image| %>
              <div class="image-box col-6 col-sm-3 position-relative" data-controller="images" data-images-target="image_box">
                <div class="text-center">
                  <%= image_tag image, class: 'img-thumbnail mb-2' %>
                  <a class="operetion-bg pointer position-absolute top-0 end-0">
                    <i class="fas fa-times text-white d-flex justify-content-center align-items-center h-100 m-0" data-action="click->images#deleteImage"></i>
                  </a>
                  <%= f.hidden_field :images, name: "post[images][]", style: "display: none", value: "#{image.blob.id}" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :images, class: "input-area text-center d-block w-100 border-dashed border-2 rounded-1 border-success pointer hover-opacity-75 py-2 py-lg-4", for: "file-upload" do %>
            <span class="text-center text-success">
              <i class="fas fa-camera me-2"></i><%= t("defaults.select_images") %>
            </span>
            <%= f.file_field :images, id: "file-upload", multiple: true, accept: '.jpeg, .jpg, .png', style: "display: none;", data: { images_target: "select", action: "change->images#selectImages" } %>
          <% end %>
        </div>
        <div class="form-group">
          <i class="fas fa-bicycle"></i>
          <%= f.label :title, class: "fw-bold require", for: "title" %>
          <%= f.text_field :title, class: 'form-control', id: "title" %>
        </div>
        <div class="form-group">
          <i class="fa-solid fa-tag"></i>
          <%= f.label :tag, class: "fw-bold", for: "tag" %>
          <%= f.text_field :tag, class: 'form-control', id: "tag", value: @tag_list, placeholder: ',で区切って入力してください' %>
        </div>
        <div class="form-group">
          <i class="fas fa-pencil-alt me-1"></i>
          <%= f.label :content, class: "fw-bold", for: "content" %>
          <%= f.text_area :content, class: 'form-control', id: "content", rows: 5 %>
        </div>

        <div class="form-group">
          <div class="d-flex align-items-center flex-wrap mb-2">
            <i class="fa-solid fa-location-dot me-1"></i>
            <div class="fw-bold me-1">ルート登録</div>
            <% if f.object.new_record? %>
              <span class="font-mini-size">(経由地1箇所→ A:出発地 / B:経由地 / C:目的地)</span>
            <% else %>
              <% if @route.waypoint_latitude.present? && @route.waypoint1_latitude.nil? %>
                <span class="font-mini-size">（A:出発地 / B:経由地 / C:目的地）</span>
              <% elsif @route.waypoint1_latitude.present? && @route.waypoint2_latitude.nil? %>
                <span class="font-mini-size">（A:出発地 / B,C:経由地 / D:目的地）</span>
              <% else %>
                <span class="font-mini-size">（A:出発地 / B,C,D:経由地 / E:目的地）</span>
              <% end %>
            <% end %>
          </div>

          <% if f.object.new_record? %>
            <div class="route-add-detail text-danger font-mini-size fw-bold">
              ・[タップ],[クリック]で<span class="text-decoration-underline">A〜E</span>の順に設定<br>
              ・<span class="text-decoration-underline">最大5地点(経由地3箇所を含む)</span>まで設定可能<br>
              ・ルート表示/登録は<span class="text-decoration-underline">最低3地点(A,B,C)</span>が必要<br>
              ・投稿後の編集/削除不可
            </div>
            <!-- 地図表示エリア -->
            <div id="map" style="height: 300px;"></div>

            <!-- 選択した地点の緯度経度を表示するフィールド -->
            <%= f.hidden_field :start_latitude, id: "start_latitude" %>
            <%= f.hidden_field :start_longitude, id: "start_longitude" %>
            <%= f.hidden_field :waypoint_latitude, id: "waypoint_latitude" %>
            <%= f.hidden_field :waypoint_longitude, id: "waypoint_longitude" %>
            <%= f.hidden_field :waypoint1_latitude, id: "waypoint1_latitude" %>
            <%= f.hidden_field :waypoint1_longitude, id: "waypoint1_longitude" %>
            <%= f.hidden_field :waypoint2_latitude, id: "waypoint2_latitude" %>
            <%= f.hidden_field :waypoint2_longitude, id: "waypoint2_longitude" %>
            <%= f.hidden_field :end_latitude, id: "end_latitude" %>
            <%= f.hidden_field :end_longitude, id: "end_longitude" %>

            <!-- マーカークリアボタン -->
            <button class="btn btn-outline-secondary" type="button" onclick="clearMarkers()">クリア</button>
            <!-- ルート表示ボタン -->
            <button class="btn btn-primary" id="display_route_btn" type="button" onclick="displayRoute()" disabled>ルート表示</button>
          <% else %>
            <% if @route.present? %>
              <div id="map" style="height: 300px;"></div>
            <% else %>
              <p class="text-center text-secondary text-decoration-underline font-mini-size my-5">ルート登録はありません</p>
            <% end %>
          <% end %>
        </div>

        <div class="form-group field mb-4">
          <div class="d-flex align-items-center mb-2 <%= @post.items.present? ? 'already-add' : '' %>", for: "post_rakuten_url">
            <i class="fa-solid fa-tags me-1"></i>
            <div class="fw-bold">アイテム登録</div>
          </div>
          <% if f.object.new_record? %>
            <div class="items-add-detail text-danger font-mini-size fw-bold">
              < ※ 注意点 ><br>
              ・最大4つまで登録可能<br>
              ・投稿後の追加/削除不可
            </div>
          <% end %>
          <div class="mt-3">
            <% if f.object.new_record? %>
              <%= link_to "使用アイテムを登録する", "#", id: "rakuten-link-button", local: true, class: "btn btn-success btn-outline-secondary" %><br>
              <div class="row align-items-center">
                <p class="my-4 col-8 col-sm-9"><選択されたアイテム></p>
                <div class="col-2 d-flex justify-content-center">
                  <button class="btn btn-primary btn-outline-dark link-delete-btn" id="remove_rakuten_item_button">クリア</button>
                </div>
              </div>

              <%= f.hidden_field 'items1', multiple: true %>
              <%= f.hidden_field 'items2', multiple: true %>
              <%= f.hidden_field 'items3', multiple: true %>
              <%= f.hidden_field 'items4', multiple: true %>

              <% (1..4).each do |index| %>
                <div class="row align-items-center justify-content-around" id="rakuten_data_wrap<%= index %>">
                  <img id="rakuten_image<%= index %>" class="col-3 d-flex d-none">
                  <p class="d-flex mb-0 text-secondary font-mini-size col-8" id="rakuten_name_text<%= index %>"></p>
                  <p class="text-center mb-0 text-secondary text-decoration-underline mt-2 font-mini-size col-12 px-4" id="rakuten_url_text<%= index %>">
                    <%= '登録アイテムはありません' if index == 1 %>
                  </p>
                </div>
              <% end %>
            <% else %>  
              <% if @post.items.present? %>
                <%= render 'item_list' %>
              <% else %>
                <p class="text-center text-secondary text-decoration-underline font-mini-size my-5">登録アイテムはありません</p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='text-center'>
          <% if f.object.new_record? %>
            <%= f.submit t("defaults.post"), class: 'btn btn-success m-3 px-3 px-sm-5 submit-button' %>
          <% else %>
            <%= f.submit t("defaults.edit"), class: 'btn btn-primary m-3 px-3 px-sm-5 submit-button' %>
          <% end %>
          <%= link_to t("defaults.to_posts_page"), posts_path, class: 'btn btn-info m-3 px-3 px-sm-5' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
