<div class="container p-2">
  <div class="title-area underline my-2">
    <h2 class="fw-bold"><%= t(".title") %></h2>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row mb-4">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p><%= t(".no_post") %></p>
      <%= link_to 'ログの第一号になろう！', new_post_path %>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>