<% set_meta_tags title: t('.title'), og: { title: t('.og_title') } %>

<div class="container p-2 mb-sm-5 pb-sm-5">
  <div class="title-area d-flex flex-wrap align-items-center justify-content-center under-line border-4 my-2">
    <h4 class="fw-bold m-0"><%= t(".post_index") %></h4>
    <!-- 並び替えリスト -->
    <%= render 'sort_posts_menu' %>
  </div>

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q, url: posts_path %>
  </div>

  <% if search_from? %>
    <h4 class="text-center my-4">
      <%= t("defaults.search_result") %>:<%= "#{@post_count}件" %>
    </h4>
  <% end %>

  <!-- 掲示板一覧 -->
  <div class="row mb-sm-4">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <% if search_from? %>
        <div class="text-center text-secondary my-5"><%= t("defaults.no_search_result") %></div>
      <% else %>
        <div class="text-center text-secondary my-5"><%= t("defaults.no_post") %></div>
        <div class="text-center">
          <%= link_to t("defaults.log_first!"), new_post_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row mt-3">
    <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>

</div>