<div class="container p-2">
  <div class="title-area under-line border-4 my-2">
    <h2 class="fw-bold"><%= t(".title") %></h2>
  </div>

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q, url: likes_posts_path %>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row mb-5">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="text-center text-secondary my-5"><%= t(".no_like") %></div>
      <div class="text-center">
        <%= link_to t(".lets_like!"), posts_path, class: "btn btn-info" %>
      </div>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>