<div class="container p-2">
  <div class="title-area d-flex flex-wrap align-items-center justify-content-center under-line border-4 my-2">
    <%= link_to 'javascript:history.back()', class: "d-lg-flex d-none" do %>
      <i class="fas fa-angle-left fa-2x me-4"></i>
    <% end %>
    <h4 class="fw-bold m-0"><%= t(".title") %></h4>

    <!-- 並び替えリスト -->
    <%= render 'sort_posts_menu' %>
  </div>

  <!-- 検索フォーム -->
  <div class="row">
    <%= render 'search_form', q: @q, url: likes_posts_path %>
  </div>

  <% if search_from? %>
    <h4 class="text-center my-4">
      <%= t("defaults.search_result") %>:<%= "#{@post_count}件" %>
    </h4>
  <% end %>

  <!-- 掲示板一覧 -->
  <div class="row mb-sm-5">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <% if search_from? %>
        <div class="text-center text-secondary my-5"><%= t("defaults.no_search_result") %></div>
      <% else %>
        <div class="text-center text-secondary my-5"><%= t(".no_like") %></div>
        <div class="text-center">
          <%= link_to t(".lets_like!"), posts_path, class: "btn btn-info" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>