<% image_url = url_for(@post.images.first) %>
<% set_meta_tags title: t('.title'), og: { title: t('.og_title', user: @post.user.name, date: l(@post.created_at, format: :short)) } %>

<div class='container pt-2 mb-sm-5 pb-sm-5'>
  <div class="title-area under-line border-4 d-lg-flex d-none my-2">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fas fa-angle-left fa-2x me-4"></i>
    <% end %>
    <h3 class="fw-bold"><%= t(".title") %></h3>
  </div>

  <div class="card shadow">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <div class="user-avatar me-2 sm-mx-2">
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar.variant(gravity: :center, resize: "50x50^", crop:"50x50+0+0").processed, class: "rounded-circle bg-dark-subtle", style: "display: inline-block;" %>
          <% end %>
        </div>
        <div class="user-name d-flex align-items-center text-break">
          <%= link_to @post.user.name, user_path(@post.user), class: "fw-bold text-dark hover-opacity-50", style:"text-decoration:none;" %>
        </div>
        <div class="operation_area d-flex align-items-center ml-auto">
          <% if current_user.own?(@post) %>
            <div class="like-count d-flex align-items-center fs-4">
              <i class="fa-solid fa-heart text-danger"></i>
              <div class="text-dark ms-1">
                <div class="fs-5" id="likes-count-<%= @post.id %>">
                  <%= @post.likes.count %>
                </div>
              </div>
            </div>
          <% else %>
            <%= render 'posts/like_button', post: @post %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @post.images.present? %>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <% @post.images.each do |image| %>
            <div class="swiper-slide">
              <%= link_to image, "data-lightbox": image do %>
                <%# スマホの画像サイズ %>
                <%= image_tag(image.variant(resize_to_fit: [450,300], gravity: 'Center', strip: true).processed, class: "img d-block mx-auto img-fluid d-sm-none") %>
                <%# PCの画像サイズ %>
                <%= image_tag(image.variant(resize_to_fit: [500,415], gravity: 'Center', strip: true).processed, class: "img d-none mx-auto img-fluid d-sm-block") %>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    <% else %>
      <%= image_tag "no_image.png", class: "d-block mx-auto img-fluid hover-opacity-75 border-top border-bottom m-0", style: "height: auto; width: auto;" %>
    <% end %>

    <div class="card-body pt-3">
      <div class="d-flex align-items-center mb-3">
        <div class="share_area">
          <%= render 'post_share_button' %>
        </div>
        <div class="ms-auto">
          <% if current_user.own?(@post) %>
            <%= render 'posts/crud_menus', post: @post %>
          <% end %>
        </div>
      </div>
      <div class="d-flex align-items-end mb-1">
        <h5 class="card-title fw-bold m-0"><%= @post.title %></h5>
        <span class="text-secondary ms-2 font-mini-size text-nowrap">
          <i class="far fa-clock clock-icon me-1">
          </i><%= time_ago_in_words(@post.created_at) %>前
        </span>
      </div>
      <div class="mb-3">
        <% @post.tags.each do |tag| %>
          <div class="badge rounded-2 bg-secondary bg-gradient text-white"><%= tag.name %></div>
        <% end %>
      </div>
      
      <p class="card-text mt-2"><%= raw Rinku.auto_link(safe_join(@post.content.split("\n"),tag(:br)), :urls, 'target="_blank" rel="noopener noreferrer"') %></p>

      <% if @route.present? %>
        <div class="mt-3">
          <div class="d-flex align-items-center flex-wrap mb-2">
            <i class="fa-solid fa-location-dot me-1"></i>
            <div class="fw-bold">移動ルート</div>
            <span class="font-mini-size">（A:出発地 / B:経由地 / C:目的地）</span>
          </div>
          <!-- 地図表示エリア -->
          <div id="map" style="height: 300px;"></div>
        </div>
      <% end %>

      <div class="mt-3">
        <div class="mb-2 fw-bold">
          <i class="fa-solid fa-tags"></i>
          使用アイテム
        </div>
        <% if @post.items.present? %>
          <%= render 'item_list' %>
        <% else %>
          <p class="text-center font-mini-size text-secondary text-decoration-underline my-5">アイテムは登録されていません</p>
        <% end %>
      </div>

      <div class='text-center pt-4'>
        <% if current_user.own?(@post) %>
          <%= link_to t("defaults.to_edit_post_page"), edit_post_path(@post), class: 'btn btn-success m-2 px-3 px-sm-5 submit-button' %>
        <% else %>
          <%= link_to t("defaults.to_user_profile_page"), user_path(@post.user), class: 'btn btn-primary m-3 px-3 px-sm-5 submit-button' %>
        <% end %>
        <%= link_to t("defaults.to_posts_page"), posts_path, class: 'btn btn-info m-2 px-3 px-sm-5' %>
      </div>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { post: @post, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>

  <div class="d-flex flex-column flex-sm-row justify-content-center px-2">
    <%= link_to t("defaults.to_home_page"), root_path, class: "btn btn-outline-info fw-bold mb-4 mb-sm-0 py-3 px-sm-5" %>
    <%= link_to t("defaults.to_user_profile_page"), user_path(@post.user), class: "btn btn-outline-success fw-bold ms-sm-4 ms-md-5 py-3 px-sm-5" %>
  </div>
</div>

<script>
  let mySwiper = new Swiper ('.swiper', {
    // 以下にオプションを設定
    loop: false, //最後に達したら先頭に戻る

    //ページネーション表示の設定
    pagination: {
      el: '.swiper-pagination', //ページネーションの要素
      type: 'fraction',
      renderFraction: function(currentClass, totalClass) {
        return '<span class="customPagenation">- <span class="' + currentClass + '"></span>' + ' / ' + '<span class="' + totalClass + '"></span> -</span>';
      },
    },

    //ナビゲーションボタン（矢印）表示の設定
    navigation: {
      nextEl: '.swiper-button-next', //「次へボタン」要素の指定
      prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
    },
  })
</script>

<% if @route.present? %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  <script>
    var map;
    var directionsService;
    var directionsRenderer;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%= @route.start_latitude %>, lng: <%= @route.start_longitude %>},
        zoom: 10
      });

      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map);

      displayRoute();
    }

    function displayRoute() {
      var start = {lat: <%= @route.start_latitude %>, lng: <%= @route.start_longitude %>};
      var end = {lat: <%= @route.end_latitude %>, lng: <%= @route.end_longitude %>};
      var waypoints = [];

      <% if @route.waypoint_latitude.present? %>
        var waypoint = {lat: <%= @route.waypoint_latitude %>, lng: <%= @route.waypoint_longitude %>}
        waypoints.push({ location: waypoint, stopover: true });
      <% end %>

      <% if @route.waypoint1_latitude.present? %>
        var waypoint1 = {lat: <%= @route.waypoint1_latitude %>, lng: <%= @route.waypoint1_longitude %>}
        waypoints.push({ location: waypoint1, stopover: true });
      <% end %>

      <% if @route.waypoint2_latitude.present? %>
        var waypoint2 = {lat: <%= @route.waypoint2_latitude %>, lng: <%= @route.waypoint2_longitude %>}
        waypoints.push({ location: waypoint2, stopover: true });
      <% end %>

      var request = {
        origin: start,
        waypoints: waypoints,
        destination: end,
        travelMode: 'BICYCLING'
      };

      directionsService.route(request, function(response, status) {
        if (status === 'OK') {
          directionsRenderer.setDirections(response);
        } else if (status === 'ZERO_RESULTS') {
          // 自転車のルートが見つからない場合、徒歩でのルート検索を試みる
          request.travelMode = 'WALKING';
          directionsService.route(request, function(response, status) {
            if (status === 'OK') {
              directionsRenderer.setDirections(response);
            } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
  </script>
<% end %>
