<div class="border rounded shadow p-5 h-100">
  <div class="text-center border-bottom mb-4">
    <%= image_tag "chari-log-logo.png", class: "img-fluid", style: "max-width: 85%;" %>
  </div>
  <div class="text-center">
    <h4 class="font-weight-bold text-secondary">-MyBikeと<br/>
                    思い出を刻もう-</h4>
    <br/>
  </div>
  <div class="text-center">
    <%= form_with url: login_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <%= f.text_field :email, class: 'form-control bg-light', placeholder: 'メールアドレス' %>
      </div>
      <div class="form-group text-left pb-2">
        <%= f.password_field :password, class: 'form-control bg-light ', placeholder: 'パスワード', type: "password", id: "password"%>
        <input type="checkbox" onChange="document.getElementById('password').type = (this.checked) ? 'text' : 'password';">
        パスワードを表示
      </div>
      <div class="actions">
        <%= f.submit "ログイン", class: 'form-control btn btn-primary font-weight-bold rounded-pill' %>
      </div>
    <% end %>
  </div>
  <div class='text-center my-4'>
    <span>────</span> または <span>────</span>
  </div>
  <div class="text-center">
    <%= link_to "新規登録", new_user_path, class: "btn btn-outline-info btn-block font-weight-bold rounded-pill mb-3" %>
  </div>
  <div class="text-center">
    <%= link_to 'パスワードをお忘れの方', class: "" %>
  </div>
</div>
