<!DOCTYPE html>
<html>
  <head>
    <title>ChariLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="site-wrapper">
      <div class="content-wrapper">
        <%= yield %>
        <div class="footer">
          <%= render "/shared/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
