<!DOCTYPE html>
<html>
  <head>
    <title>ChariLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <div class="site-wrapper">
      <% if logged_in? %>
        <%= javascript_include_tag "sidebar-toggle.js" %>

        <div class="container-fluid bg-light p-0">
          <div class="row">
            <!-- ヘッダー -->
            <div class="header-wrapper sticky-top shadow-sm bg-white">
              <%= render "/shared/header" %>
            </div>

            <!-- サイドバー -->
            <div class="sidebar-wrapper col-xl-2 col-lg-2 z-2">
              <%= render "/shared/sidebar" %>
            </div>

            <!-- メインコンテンツ -->
            <div class="content-wrapper col-xl-10 col-lg-10 col-md-12 px-5 py-4 z-1">
              <%= render "/shared/flash_message" %>
              <%= yield %>
            </div>

            <!-- フッター -->
            <div class="footer-wrapper z-0">
              <%= render "/shared/footer" %>
            </div>
          </div>
        </div>
      <% else %>
        <!-- ログインしていない場合、メインコンテンツのみ表示 -->
        <div class="content-wrapper pt-5">
          <%= render "/shared/flash_message" %>
          <%= yield %>
        </div>
        <div class="footer-wrapper">
          <%= render "/shared/footer" %>
        </div>
      <% end %>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
